.contact__container {
  margin-top: var(--section-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0 25em 0;
}

.contact__container .contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  margin: 2em 0 3em 0;
  text-align: center;
}

.contact__container .contact__title .heading__clip {
  margin-bottom: 4em;
}

.contact__container .contact__title .heading__clip h1 {
  text-transform: capitalize;
  font-size: 3em;
  font-family: var(--font-base);
  color: var(--color-white);
}

.contact__container .contact__title .heading__clip:hover {
  background-color: var(--color-nav);
}

.contact__container .contact__title .heading__clip:hover h1:hover {
  color: var(--color-golden);
}

.contact__container .contact__title h1 {
  font-family: var(--font-base);
  font-size: 4em;
  color: var(--color-golden);
  margin-bottom: .3em;
}

.contact__container .contact__title h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: var(--font-base);
  font-size: 2em;
  color: var(--color-crimson);
}

.contact__container .contact__ditails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 3em 0;
  width: 100%;
  margin: 2em 0 5em 0;
}

.contact__container .contact__ditails .ditails__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container .contact__ditails .ditails__box .fa-solid {
  font-size: 3em;
  margin-bottom: 10px;
  color: var(--color-pink);
}

.contact__container .contact__ditails .ditails__box .fa-solid:hover {
  color: var(--color-white);
}

.contact__container .contact__ditails .ditails__box h1 {
  font-size: 2em;
  font-family: var(--font-base);
  color: var(--color-golden);
  text-transform: capitalize;
  margin: .3em 0;
}

.contact__container .contact__ditails .ditails__box p {
  font-family: var(--font-alt);
  font-size: 1.4em;
  color: white;
}

.contact__container .section__contact__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  padding: 3em 0 25em 2em;
  background-color: var(--color-black);
}

.contact__container .section__contact__me .contact__me__email {
  border: 2px solid var(--color-white);
  padding: 2em 0;
  margin: 0 0 0 3em;
  width: 60%;
}

.contact__container .section__contact__me .contact__me__email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__container .section__contact__me .contact__me__email form input[type=text], .contact__container .section__contact__me .contact__me__email form input[type=email] {
  width: 70%;
  padding: .5em .5em;
  font-size: 2em;
  outline: none;
  margin: .5em 0;
  background: var(--color-nav);
  border: 2px solid var(--color-white);
  border-radius: 5px;
  font-family: var(--font-base);
  color: var(--color-white);
}

.contact__container .section__contact__me .contact__me__email form textarea {
  border: var(--text-border);
  width: 70%;
  height: 10em;
  font-size: 2em;
  color: var(--color-white);
  font-family: var(--font-base);
  border: 2px solid var(--color-white);
  outline: none;
  padding: .5em .5em;
  background: var(--color-nav);
  border-radius: 5px;
  margin: .5em 0;
}

.contact__container .section__contact__me .contact__me__email form input[type=text]::-webkit-input-placeholder, .contact__container .section__contact__me .contact__me__email form input[type=email]::-webkit-input-placeholder, .contact__container .section__contact__me .contact__me__email form textarea::-webkit-input-placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__email form input[type=text]:-ms-input-placeholder, .contact__container .section__contact__me .contact__me__email form input[type=email]:-ms-input-placeholder, .contact__container .section__contact__me .contact__me__email form textarea:-ms-input-placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__email form input[type=text]::-ms-input-placeholder, .contact__container .section__contact__me .contact__me__email form input[type=email]::-ms-input-placeholder, .contact__container .section__contact__me .contact__me__email form textarea::-ms-input-placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__email form input[type=text]::placeholder, .contact__container .section__contact__me .contact__me__email form input[type=email]::placeholder, .contact__container .section__contact__me .contact__me__email form textarea::placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__email form input[type=text]:focus, .contact__container .section__contact__me .contact__me__email form input[type=email]:focus, .contact__container .section__contact__me .contact__me__email form textarea:focus {
  border: none;
  -webkit-box-shadow: 0 0 0.5em var(--color-black);
          box-shadow: 0 0 0.5em var(--color-black);
}

.contact__container .section__contact__me .contact__me__email form input[type=submit] {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .5em 1em .5em 0;
}

.contact__container .section__contact__me .contact__me__newsletter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--color-white);
  position: absolute;
  right: 25%;
  bottom: -23%;
  text-align: center;
}

.contact__container .section__contact__me .contact__me__newsletter h2 {
  font-family: var(--font-base);
  font-size: 2.5em;
  color: var(--color-crimson);
  margin-bottom: 5em;
  margin-top: 2em;
  position: relative;
  z-index: 3;
}

.contact__container .section__contact__me .contact__me__newsletter h2::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 20%;
  background-color: var(--color-golden);
  bottom: 3px;
  left: calc(50% - 30%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact__container .section__contact__me .contact__me__newsletter h1 {
  font-family: var(--font-base);
  font-size: 4em;
  color: var(--color-crimson);
  margin-bottom: .3em;
}

.contact__container .section__contact__me .contact__me__newsletter p {
  font-family: var(--font-base);
  font-size: 1.5em;
  color: var(--color-crimson);
  margin-bottom: .3em;
}

.contact__container .section__contact__me .contact__me__newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 1em 0;
}

.contact__container .section__contact__me .contact__me__newsletter form input[type=email] {
  width: 70%;
  padding: .5em .5em;
  font-size: 2em;
  outline: none;
  font-family: var(--font-base);
  border-radius: 5px;
  font-size: 2em;
  color: var(--color-white);
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__newsletter form input[type=email]::-webkit-input-placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__newsletter form input[type=email]:-ms-input-placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__newsletter form input[type=email]::-ms-input-placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__newsletter form input[type=email]::placeholder {
  font-family: var(--font-base);
}

.contact__container .section__contact__me .contact__me__newsletter form input[type=email]:focus {
  background-color: var(--color-nav);
  border: 2px solid var(--color-white);
}
/*# sourceMappingURL=contact.css.map */