
//the home section style starts here--//
.home{
     padding: 0 0 4em 0;

     .container__home{

          display: grid;
          grid-template-columns:50% 50%;
          grid-auto-flow: row;
          position: relative;
     
          .container__text{
              // border: var(--text-border);
               display: flex;
               flex-direction: column;
               align-content: center;
               justify-content: center;
               
               .text__wraper{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
     
                    .hello, h1{
                         text-decoration: none;
                         font-weight: 500;
                         font-size: 3.2em;
                         font-family: var(--font-base);
                         color: var(--color-white);
                         align-self: flex-start;
                         margin-bottom: .8em;  
                    
                         span{
                              font-size: 1.3em;
                              font-weight: 580;
                              text-transform: capitalize;
                              color: var(--color-deep-orange);
     
                         }
                         
                    }
                   
                    .hero__name{
                         font-size: 6em;
                         font-family: var(--font-heroName);
                         letter-spacing:1px ;
                         text-transform: capitalize;
                         color: var(--color-golden);
                         position: relative;
                    
                    }

     
                    h1{
                         align-self: center;
                         margin-top: .8em;
                    }
     
                    .hero__para{
                         font-size: 1.6em;
                         font-family: var(--font-alt);
                         line-height: 2em;
                         letter-spacing: 2px;
                         color: var(--color-white);  
                         margin: 0 1em;      
                         
                         a{
                              font-size: 1.2em;
                              font-family: var(--font-base);
                              letter-spacing: 1px;
                              color: var(--color-deep-orange);
                              margin: 0;

                         }

                         a:hover{
                              color: var(--color-gray);
                         }
                    }
               }
     
               .text__button{
                    width: fit-content;
                    margin: 2em  0;

                    button{
                         a{
                              color: var(--color-black);
                         }
                    }
               }
   
          }
     
          .container__home__img{
               //border: var(--text-border);
               
               display: flex;
               justify-content: center;
               align-items: center;          
         
     
               .img__stactic{
     
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 50%;
                    box-shadow: 0 0 1rem var(--color-black);
                    
                    .hero__img{
                         
                         width: 33em;
                         height: 33em;
                         object-fit: cover;
                         object-position: 100% 40%;
                    }
               }
     
               .img__move{

                    border: 3px solid inherit;
                   // box-shadow: 1rem 0 2rem 2rem  var(--color-deep-orange);
                    position: relative;
                    border-radius: 50%;
                    width: 42em;
                    height: 42em;
                    animation: animateimg-move 60s ease infinite ;
                    
               
                    
                    li{
                         position: absolute;
                         padding: 30px;
                         border-radius: 50%;
                         background-color: var(--color-deep-orange) ;
                         box-shadow: 0 0 1rem var(--color-black);
                         backdrop-filter: blur(5em);
                         height: 5em;
                         width: 5em;
                         
                         display: flex;
                         justify-content: center;
                         align-items: center;
     
                         .fa-brands {
     
                              font-size: 3em;
                              color: var(--color-white);
                         }

                         &:nth-child(1){
                              top: -25px;
                              right: calc(50% - 1.5em);
                         }
                         &:nth-child(2){
                              bottom: -25px;
                              right: calc(50% - 1.5em);
                         }
                         &:nth-child(3){
                              bottom: calc(50% - 1.5em);
                              left: -25px;
                         }
                         &:nth-child(4){
                              right: -25px;
                              bottom: calc(50% - 1.5em);
                         }
     
                    }
     
               }
               
     
               @keyframes animateimg-move {
                    100%{
                         transform: rotatez(360deg);
                    }
               }
            
          }
     
     
     }
}
//--the home section style ends here--//

